<h1>Editing Plan</h1>

<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :planspace %><br>
    <%= f.text_field :planspace %>
  </div>
  
  <div class="actions">
    <b><%= f.submit %><b>

  </div>
<% end %>


<%= link_to 'Show', @plan, class: 'btn btn-default' %> |
<%= link_to 'Back', plans_path, class: 'btn btn-default' %>
