<p id="notice"><%= notice %></p>

<h1>My Plans</h1>

<table>
  <thead>
    <tr>
      <th>Plan Name</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>        
      <% if plan.user == current_user %>
        <td><%= plan.name %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Plan', new_plan_path %>
<br><br>
<%= link_to 'View Care Categories', items_path %>